html {
	font-size: 100%;
}

body {
	font: 1em/1.2em arial, serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

p, pre {
	margin: 0;
}

a {
	text-decoration: none;
}

div#container {
	position: relative;
	background: #fff;
	display: none;
}
/*
div#container > div {
	width: 26.5em;	
}
*/

.left {
	float: left;
	/* height: 100%; */
}

.right {
	float: right;
	/* height: 100%; */
}

div.header {
	font: 1.2em/1.3em;
	height: 1.2em;
	width: 100%;
	vertical-align: middle;
	position: relative;
}

div.header.left {
	text-align: left;
}

div.header.right {
	text-align: right;
}

div.header h1 {
	font-size: inherit;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: lowercase;
	display: inline;
}

div.header span.left_pagenum, div.header span.right_pagenum {
	font-size: inherit;
	font-weight: bolder;
	display: inline;
}

div.content {
	/* font-size: .8em !important; */
	overflow: hidden;
	text-align: justify;
	text-justify: kashida;
}

div.content h1 {
	margin: .2em 0;
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: left;
}

div.content pre {
	line-height: 100%;
	font-size: .7em;
	margin: .3em 0;
	border: solid .1em #c0c0c0;
	white-space: pre-wrap;
	display: block;
	-webkit-hyphens: none;
}



div#spinner {
	background-color: rgba(55, 46, 74, 0.8);
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 50%;
	margin-left: -50px;
	display: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

div#spinner img {
	margin: 34px;
}

div#contents {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #eeeeff;
	padding: 20px;
	z-index: 100000;
	font-size: 50%;
}

div#contents a {
	display: block;
}