<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Reader</title>

<link rel="stylesheet" type="text/css" media="screen"
	href="/public/css/normalize.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/public/css/book.css">

<script src="/public/js/bugfix.js"></script>
<script src="/public/js/sizzle.js"></script>
<script src="/public/js/inflate.js"></script>
<script src="/public/js/sax.js"></script>
<script src="/public/js/zip.js"></script>
<script src="/public/js/epub.js"></script>
<script src="/public/js/paginator.js"></script>
<script src="/public/js/section.js"></script>
<script src="/public/js/pageHandler.js"></script>
<script src="/public/js/swipe.js"></script>
<!--[if IE]>
		<script type='text/vbscript'>
			Function IEBinaryToArray_ByteStr(Binary)
				IEBinaryToArray_ByteStr = CStr(Binary)
			End Function
			
			Function IEBinaryToArray_ByteStr_Last(Binary)
				Dim lastIndex
				lastIndex = LenB(Binary)
				if lastIndex mod 2 Then
					IEBinaryToArray_ByteStr_Last = Chr( AscB( MidB( Binary, lastIndex, 1 ) ) )
				Else
					IEBinaryToArray_ByteStr_Last = ""
				End If
			End Function
		</script>
		<![endif]-->
<script type="text/javascript">
	function loadTheBook() {
		var epuburl = document.getElementById('epuburl').value;
		loadBook(epuburl);
	}

	function setPageSize() {
		var containerMargin = 50;
		var container = document.getElementById('container');
		var width = window.clientArea().width - (containerMargin * 2);
		var height = window.clientArea().height - (containerMargin * 2);
		container.style.width = width + 'px';
		container.style.height = height + 'px';
		container.style.left = containerMargin + 'px';
		container.style.top = containerMargin + 'px';

		for ( var i = 0; i < container.childNodes.length; i++) {
			var child = container.childNodes[i];
			if (child.nodeType == 1 && child.nodeName.toLowerCase() == 'div') {
				child.style.width = ((width / 2) - 10) + 'px';
				child.style.height = height + 'px';
				child.style.margin = '0px';
			}
		}

		var pageSides = document.getElementsByClassName('content');
		for ( var i = 0; i < pageSides.length; i++) {
			pageSides[i].style.width = "100%";
			pageSides[i].style.height = "100%";
		}
	}

	var loadBook = function(epub) {

		setPageSize();

		selector.style.display = 'none';
		container.style.display = 'block';

		var epubUrl;
		if (epub.substr(0, 4) == 'http') {
			epubUrl = epub;
		} else {
			epubUrl = "/public/epubs/" + epub;
		}

		ePub
				.open(
						epubUrl,
						function(book) {

							var te = document.getElementById('book_title');
							te.textContent = book.title;

							var ae = document.getElementById('author_heading');
							ae.textContent = book.author;

							var lc = document
									.getElementsByClassName('left content')[0], rc = document
									.getElementsByClassName('right content')[0], ln = document
									.getElementsByClassName('left_pagenum')[0], rn = document
									.getElementsByClassName('right_pagenum')[0];

							var pages;
							if (window.orientation == 0
									|| window.orientation == 180) {
								pages = [ lc ];
							} else {
								pages = [ lc, rc ];
							}
							pageHandler = new PageHandler(book, pages,
									[ ln, rn ]);

							var contents = document.getElementById('contents');
							for ( var i = 0, l = book.toc.length; i < l; i++) {

								// Sometimes navpoints aren't all covered, or they are done so in weird ways.
								// try to be liberal about things.
								if (book.toc[i] === undefined)
									continue;

								var chapter = document.createElement('a');
								var secName = book.toc[i].fileName;
								chapter.setAttribute('href', '#section='
										+ secName);
								chapter.textContent = book.toc[i].title;
								chapter.onclick = function(secName) {
									return function() {
										pageHandler.goToSection(secName);
										pageHandler.display();
										contents.style.display = 'none';
									}
								}(secName);
								contents.appendChild(chapter);
							}

							pageHandler.display();

							swipe(null, pageHandler);

							function handleArrowKeys(evt) {
								evt = (evt) ? evt : ((window.event) ? event
										: null);
								if (evt) {
									switch (evt.keyCode) {
									case 37:
										pageHandler.prevPage();
										break;
									case 39:
										pageHandler.nextPage();
										break;
									}
								}
							}
							document.onkeyup = handleArrowKeys;
						});
	}
</script>
</head>
<body>
	<div id="spinner">
		<img src="/public/img/loader.gif" alt="Loading">
	</div>
	<div id="contents" style="display: none;"></div>
	<div id="selector">
		<ul>
			<li><a href="#" onclick="loadBook('Akunin_Priklyucheniya_Erasta_Fandorina_1_Azazel_228606.epub');">Akunin_Priklyucheniya_Erasta_Fandorina_1_Azazel_228606.epub</a></li>
			<li><a href="#" onclick="loadBook('anonymous-arabian-nights.epub');">anonymous-arabian-nights.epub</a></li>
			<li><a href="#" onclick="loadBook('Devushka_s_tatuirovkoj_drakona.epub');">Devushka_s_tatuirovkoj_drakona.epub</a></li>
			<li><a href="#" onclick="loadBook('Dontsova_Viola_Tarakanova__V_mire_prestupnyih_strastey_11_Fokus-pokus_ot_Vasilisyi_Uzhasnoy_13650.epub');">Dontsova_Viola_Tarakanova__V_mire_prestupnyih_strastey_11_Fokus-pokus_ot_Vasilisyi_Uzhasnoy_13650.epub</a></li>
			<li><a href="#" onclick="loadBook('Generation-P.epub');">Generation-P.epub</a></li>
			<li><a href="#" onclick="loadBook('Imperiya-angelov.epub');">Imperiya-angelov.epub</a></li>
			<li><a href="#" onclick="loadBook('King_Kristina_140283.epub');">King_Kristina_140283.epub</a></li>
			<li><a href="#" onclick="loadBook('King_Porozhdayuschaya_ogon_26844.epub');">King_Porozhdayuschaya_ogon_26844.epub</a></li>
			<li><a href="#" onclick="loadBook('Pelevin_V._Svyashennaya_Kniga_Oborotnya.epub');">Pelevin_V._Svyashennaya_Kniga_Oborotnya.epub</a></li>
			<li><a href="#" onclick="loadBook('pg84.epub');">pg84.epub</a></li>
			<li><a href="#" onclick="loadBook('pg1155.epub');">pg1155.epub</a></li>
			<li><a href="#" onclick="loadBook('Prilepin_Z._Sankya.epub');">Prilepin_Z._Sankya.epub</a></li>
			<li><a href="#" onclick="loadBook('Ris_G._Myishi.epub');">Ris_G._Myishi.epub</a></li>
			<li><a href="#" onclick="loadBook('Rubanov_A._Sajayite_I_Viyrastet.epub');">Rubanov_A._Sajayite_I_Viyrastet.epub</a></li>
			<li><a href="#" onclick="loadBook('Rubanov_A._Velikaya_Mechta.epub');">Rubanov_A._Velikaya_Mechta.epub</a></li>
			<li><a href="#" onclick="loadBook('Tolstoyi_L._Anna_KareninaI.epub');">Tolstoyi_L._Anna_KareninaI.epub</a></li>
			<li><a href="#" onclick="loadBook('wizardofoz.epub');">wizardofoz.epub</a></li>
		</ul>
		
		
	</div>


	<div id="container">
		<div class="left">
			<div class="header left">
				<span class="left_pagenum"></span>&#9658;
				<h1 id="book_title"></h1>
			</div>
			<div class="content left"></div>
		</div>
		<div class="right">
			<div class="header right">
				<h1 id="author_heading"></h1>
				&#9668;<span class="right_pagenum"></span>
			</div>
			<div class="content right"></div>
		</div>
	</div>
</body>
</html>
